.list-group-item .done {
  text-decoration: line-through;
}

.list-group-item {
  font-size: 20px;
}

.list-group .list-group-item button {
  margin-right: 10px;
}

.list-group .list-group-item input {
  margin-right: 10px;
}
